<div data-ng-controller="Controlador_Citas">
    <table class="w3-table-all w3-card-2">
        <tr>
            <th>Dia</th>
            <th>Hora</th>
            <th>Medico</th>
            <th>Anotaciones</th>
        </tr>
        <tr data-ng-repeat="cita in citas">
            <td>{{ cita.Dia}}</td>
            <td>{{ cita.Hora }}</td>
            <td>{{ cita.Medico }}</td>
            <td>{{ cita.Anotaciones}}</td>
        </tr>
        <tr data-ng-repeat="X in citas | limitTo: 1">
            <td>{{citas[citas.length-1].Dia}}</td>
            <td>{{citas[citas.length-1].Hora}}</td>
            <td>{{citas[citas.length-1].Medico}}</td>
            <td>{{citas[citas.length-1].Anotaciones}}</td>
        </tr>
    </table>
</div>