<div data-ng-controller="Controlador_Expedientes">
    <p>Aquí podrás encontrar todos los expedientes de los pacientes del sistema, con los datos necesarios para
    proveer un servicio competente con base en los resultados de diagnósticos previos</p>

    <h3>Todos los expedientes </h3>
    <div ng-if="existen_pacientes">
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Buscar paciente"
           id="buscar_expedientes" onkeyup="buscar('buscar_expedientes','tabla_expedientes')">
    <div class="w3-responsive">
        <br>
        <table class="w3-table-all w3-card-2" id="tabla_expedientes">
            <tr>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Edad</th>
                <th>Correo</th>
                <th>Expediente</th>
            </tr>
            <tr data-ng-repeat="paciente in pacientes">
                <td>{{ paciente.Nombre}}</td>
                <td>{{ paciente.Sexo=='M'?"Masculino":"Femenino" }}</td>
                <td>{{ paciente.Edad }}</td>
                <td>{{ paciente.Correo }}</td>

                <td>
                    <button ng-click="modal('Modal'+$index)" class="w3-button w3-green">
                        Datos de {{ paciente.Nombre}}</button>

                    <div id="Modal{{$index}}" class="w3-modal">
                        <div class="w3-modal-content w3-animate-zoom" style="overflow-y: auto; max-height: 30em">
                            <header class="w3-container w3-blue">
                              <span ng-click="cerrar_modal('Modal'+$index)"
                                    class="w3-button w3-display-topright">&times;</span>
                                <h2>Expediente de {{paciente.Nombre}}</h2>
                            </header>
                            <div class="w3-container">
                                <h4>Información personal</h4>
                                <img src="../../img/imagenes/avatar.png" class="w3-left w3-circle w3-margin-right" style="width:50px">
                                <span class="w3-large">{{paciente.Nombre}} <b> | </b>
                                </span>
                                <span ng-style="paciente.Edo === 'Diabético' && {'color':'red'}  ||
                                 paciente.Edo === 'No Diabético' && {'color':'blue'}" style="color:goldenrod">
                                    {{paciente.Edo | uppercase}}
                                </span><br>
                                <span>Sexo: {{ paciente.Sexo=='M'?"Masculino":"Femenino" }} <b> | </b> Edad: {{paciente.Edad}}</span>
                                <hr>
                                <h4>Diagnósticos previos</h4>
                                <table class="w3-table-all">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>IMC</th>
                                        <th>N_Glucosa</th>
                                        <th>C_Glucosa</th>
                                        <th>Certeza</th>
                                    </tr>
                                    <tr data-ng-repeat="diagnostico in paciente.Diagnosticos">
                                        <td>{{diagnostico.Fecha}}</td>
                                        <td>{{diagnostico.Estado}}</td>
                                        <td>{{diagnostico.IMC}}</td>
                                        <td>{{diagnostico.N_Glucosa}}</td>
                                        <td>{{diagnostico.C_Glucosa}}</td>
                                        <td>{{diagnostico.Certeza}}</td>
                                    </tr>
                                </table>
                                <br>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <div class="w3-row w3-center">
        <div class="w3-bar w3-border">
            <a href="#" class="w3-button">&laquo;</a>
            <a href="#" class="w3-button w3-red">1</a>
            <a href="#" class="w3-button">&raquo;</a>
        </div>
    </div>
    </div>
    <div ng-if="!existen_pacientes" align="center">
        <h4 class="w3-card-2 nada">Aún no existen pacientes con registros</h4><br><br><br><br><br>
    </div>
</div>
